x64/
PTreeRouting/
.vs/
.trae/
Build/
build/
bld/
Debug/
debug/
dbg/
Release/
release/
rls/
app_last.config
config/configs/
data/result
**/*.exe
**/*.pdb
**/*.7z
**/*.docx
**/*.xlsx
**/python/input.json
**/python/output.json
**/*.idea/
__pycache__/
*.vcxproj.user
*.pyc
*.pyo
*.pyd
*$py.class
*.swp
*.swo
*~
